<nav>
    <a href="/">MAIN</a>
    <a href="/books">BOOKS</a> 
    <a href="/genres">GENRES</a> |
    <a href="/authors">AUTHORS</a> |
    <a href="/borrowers">BORROWERS</a> |
    <a href="/loans">LOANS</a>
</nav>

<h1>Authors</h1>

<!-- Table to Display Genres -->
<table>
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Author Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr id="row-{{this.authorID}}">
            <td>{{this.authorID}}</td>
            <td>{{this.authorName}}</td>
            <td>
                <button class="delete-button" data-authorid="{{this.authorID}}">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Form to Add a New Author -->
<h2>Add a New Author</h2>
<form id="add-author-form">
    <label>Author Name:</label>
    <input type="text" name="authorName" required>
    <input type="submit" value="Submit">
</form>

<script src="./js/authors.js"></script>
